/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

 @import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@300;400;500;700;900&display=swap');

body {
  font-family: "Inter", sans-serif;
}

.home .hero img
  max-width 450px!important

.sidebar-link {
  font-family: "Fira Code", "IBM Plex Mono", monospace;
}